<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115408678-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115408678-1');
</script>

<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Alaaeldin El-Nouby 
              </h1>
              <p>I am an AI Research PhD student at <a
                href="https://ai.facebook.com/">Meta AI (FAIR)</a>
                and <a href="https://www.di.ens.fr/">DI ENS</a>/<a
                href="https://www.inria.fr/centre/paris">INRIA Paris</a>, advised
                by <a href="https://www.di.ens.fr/~laptev/">Ivan Laptev</a>, <a
                href="https://nneverova.github.io/">Natalia Neverova</a> and 
              <a href="https://ai.facebook.com/people/herve-jegou">Hervé
              Jégou</a>.</p>
              <p>
                I have previously interned at Apple Inc. under the supervision of <a
                href="https://scholar.google.com/citations?user=Sv2TGqsAAAAJ&hl=en">Joshua
                M Susskind  </a> and  <a href="cs.binghamton.edu/~szhai2/">
                Shuangfei Zhai</a>. I have also interned at Microsoft Research
                Montreal with <a
                href="https://shikharsharma.com/">Shikhar Sharma</a>. I have
                worked as a Research Engineer at <a
                href="https://www.microsoft.com/en-us/research/group/advanced-technology-lab-cairo-2/">Microsoft
                ATLC</a>
                            </p>
              <p>
                I have a MSc in Computer Engineering from <a
                href="https://www.uoguelph.ca/">University of Guelph</a>, where
                I was advised by <a href="https://www.gwtaylor.ca/">Dr. Graham
                Taylor</a>. During that time, I was a student researcher at the
                <a href="https://vectorinstitute.ai/">Vector Institute</a>.
                            </p>
              <p style="text-align:center">
                <a target="_blank" href=""> Email:</a> alaaelnouby-at-gmail.com &nbsp;/&nbsp;
<!--                 <a href="https://github.com/aelnouby">GitHub</a> &nbsp;/&nbsp; -->
                <a href="https://scholar.google.com/citations?user=jxpBMwwAAAAj">Google Scholar</a> &nbsp;/&nbsp;
<!--                 <a href="http://linkedin.com/in/alaa-el-nouby-1b6496b9"> LinkedIn </a> &nbsp;/&nbsp; -->
                <a href="static/resume_alaa_feb2023.pdf">Resume</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/alaa_circle_cropped.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
                <ul>
                  <li>February 2023: 2 papers accepted at <strong>CVPR 2023</strong> ! (<a href="https://arxiv.org/abs/2206.08356">OmniMAE</a> and ImageBind).</li>
                  <li>February 2023: 1 paper accepted at <strong>ICASSP 2023</strong> with Federico Baldassarre and Herve Jegou.</li>
                  <li>December 2022: Released <a href="https://arxiv.org/abs/2212.07372"> PQ-MIM</a>, a novel neural image compression method based on Product-Quantization and Masked Image Modeling.</li>
                  <li>June 2022: Released and open-sourced the <a href="https://github.com/facebookresearch/omnivore">code</a> for  <a href="https://arxiv.org/abs/2206.08356">OmniMAE</a></li>
                  <li>December 2021: A new preprint titled <a href="https://arxiv.org/abs/2112.13692">"Augmenting Convolutional networks with attention-based aggregation"</a> </li>
                  <li>December 2021: A new preprint titled <a href="https://arxiv.org/abs/2112.10740">"Are Large-scale Datasets Necessary for Self-Supervised Pre-training?"</a> </li>
                  <li>September 2021: XCiT has been accepted at <strong>NeurIPS 2021</strong> </li>
                  <li> July 2021: LeViT has been accepted at <strong>ICCV 2021</strong> </li>
                  <li>June 2021: XCiT has been covered and explained by Yannic Kilcher, check out the <a href="https://www.youtube.com/watch?v=g08NkNWmZTA">video</a> !.</li>
 
                  <li>June 2021: A new preprint for our <a href="https://arxiv.org/abs/2106.09681v2">XCiT</a> model offering a strong and general vision backbone with linear complexity in image-size.</li>
                  <li>May 2021: We released the <a href="https://arxiv.org/abs/2105.03404">ResMLP</a> paper, investigating the architectures built solely upon MLP blocks, with surprisingly strong performance on ImageNet.</li>
                  <li>April 2021:  A new preprint for our recent research on efficient vision transformers <a href="https://arxiv.org/abs/2104.01136">"LeViT: a Vision Transformer in ConvNet's Clothing for Faster Inference"</a></li>
                  <li>February 2021: Released a preprint of our recent work <a href="https://arxiv.org/abs/2102.05644"> "Training Vision Transformers for Image Retrieval"</a> </li>
                  <li>August 2020: I have joined Facebook AI Research, Paris as an AI Research PhD student!</li>
                  <li>November 2019: Our paper "Skip-Clip" won <strong>Best Poster Award</strong> at the Holistic Video Understanding Workshop, ICCV2019.</li>
                  <li>September 2019: Successfully defended my <a
                  href="https://atrium.lib.uoguelph.ca/xmlui/bitstream/handle/10214/17417/ali_alaaeldin_201909_MSc.pdf?sequence=5&isAllowed=y">MSc
                  thesis</a> at University of Guelph.</li>
                  <li>July 2019: One conference paper accepted at ICCV2019 (Acceptance rate<span style="color:red;"> 25%</span>)  </li>
                  <li>February 2019: Started a research Internship at Apple Inc. advised by <a
                    href="https://scholar.google.com/citations?user=Sv2TGqsAAAAJ&hl=en">Joshua
                    M Susskind  </a> and  <a href="cs.binghamton.edu/~szhai2/">
                    Shuangfei Zhai</a></li>
                    <li>November 2018: One <a href="https://nips2018vigil.github.io/static/papers/accepted/13.pdf">paper</a> accepted at ViGIL workshop (NeurIPS 2018)</li>
                    <li>August 2018: Started an internship at Microsoft Research Montreal.</li>
                    <li>February 2018: One <a href="https://arxiv.org/abs/1802.08362">paper</a> accepted for <strong>oral</strong> presentation at CRV 2018.</li>
                </ul>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in vision transformers, self-supervised learning, language-vision pre-training, multi-modal learning, image retrieval,
                and image compression.              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.blog %}
              <a href="{{post.blog}}">blog</a> /
              {% endif %}
              {% if post.bibtex %}
              <a href="{{post.bibtex}}">bibtex</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Invited Talks</h2>
                <ul>
                  <li> <strong> Vector Institute / University of Guelph </strong> - Masked Image Modeling for Visual Representation Learning</li>
                  <li> <strong> Transformers for Vision workshop, CVPR’22 </strong> - Are Large-scale Datasets Necessary for Self-Supervised Pre-training?</li>
                  <li> <strong> Max Planck Institute / Tübingen AI Center </strong> - Are Large-scale Datasets Necessary for Self-Supervised Pre-training?</li>
                  <li> <strong> Computer Vision Group (CVG), University of Bern </strong> - Are Large-scale Datasets Necessary for Self-Supervised Pre-training?</li>
                  <li> <strong> Large Scale Holistic Video Understanding workshop, CVPR’21 </strong> - Training Vision Transformers for Image Retrieval</li>
                  <li> <strong> KTH Royal Institute of Technology </strong> - Training Vision Transformers for Image Retrieval</li>
                  <li><strong>  Microsoft Research Montreal </strong> - Sequential Scene Understanding and Generation</li>
                  <li> <strong> DeepVision workshop, Simon Fraser University</strong> - Real-Time End-to-End Action Detection with Two-Stream Networks</li>
                  <li> <strong>Twenty Billion Neurons </strong> - Real-Time End-to-End Action Detection with Two-Stream Networks</li>

                  
<!--              <li> October 2022: Presented OmniMAE and SplitMask at University of Guelph and the the Vector institute hosted by <a href="https://www.gwtaylor.ca/">Dr. Graham Taylor</a>.</li>
                  <li> June 2022: Presented SplitMask as an oral paper at the <a href="https://sites.google.com/view/t4v-cvpr22">Transformers for Vision workshop</a> at CVPR 2022.</li>
                  <li>March 2022: Presented SplitMask at the <a href="https://www.cvg.unibe.ch/research/talks/">Computer Vision Group (CVG)</a> at the University of Bern, hosted by Paolo Favaro. </li>
                  <li>June 2021: Presented our work on Image Retrieval at <a href="https://holistic-video-understanding.github.io/workshops/cvpr2021.html">Large Scale Holistic Video Understanding</a> workshop at CVPR2021. </li>
                  <li>April 2021: Presented my recent research on Image Retrieval in an online semninar at KTH hosted by <a href="https://www.kth.se/profile/azizpour">Hossein Azizpour</a>.</li> -->
                </ul>
            </td>
          </tr>
        </table>
        
        <br>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Reviewing</h2>
                <ul>
                  <li>ICCV’21, CVPR’22-'23, ECCV’22, NeurIPS’22 SSL workshop, TPAMI (2021-Present).</li>
                </ul>
            </td>
          </tr>
        </table>
        <br>
        <br>
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Intel Projects</h2>
              <p>Besides my work on the RealSense depth sensors and the publications above, a sampling of my publicly disclosed work
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

